<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>
<div class="container mt-4 pb-5">
  <div class="row">
    <div class="col-12 text-center">
      <h2>School List</h2>
      <a href="/schools/new" class="btn btn-primary mb-3" style="background-color: #225222; color: white; font-size: larger;">Add New School</a>
      <a href="https://bigfuture.collegeboard.org/scholarships" class="btn mb-3" style="font-size: larger; background-color: #f2f2f2">View Scholarships</a>
      <div style="text-align: right">
        <a href="/schools?sort=schoolName" id="sortByName" style ="color: #225222">Sort by Name <i class="fas fa-arrow-up"></i><i class="fas fa-arrow-down"></i></a>
      </div>
    </div>
  </div>
  <div class="row">
    <% if (schools && schools.length) { %>
      <% schools.forEach((school, index) => { %>
        <div class="col-md-4 mb-3">
          <div class="card h-100">
            <!-- First Box: School Details -->
            <div class="card-body">
              <div class="text-center">
                <strong>School Details</strong>
              </div>
              <div>
                <!-- School Name -->
                <div style="display: flex; justify-content: space-between;">
                  <strong>School Name:</strong>
                  <span><%= school.schoolName %></span>
                </div>
                <!-- SAT/ACT Score -->
                <div class="d-flex justify-content-between mb-2">
                  <strong>SAT/ACT Score:</strong>
                  <div>
                    <span><%= school.testScores.ACT ? `${school.testScores.ACT}` : '' %></span>
                    <span><%= school.testScores.SAT ? `${school.testScores.SAT}` : '' %></span>
                  </div>
                </div>
                <!-- GPA Score -->
                <div style="display: flex; justify-content: space-between;">
                  <strong>GPA Score:</strong>
                  <span><%= school.gpa %></span>
                </div>
                <!-- Volunteering -->
                <div style="display: flex; justify-content: space-between;">
                  <strong class="fs-8">Volunteering:</strong>
                  <span><%= school.volunteering%></span>
                </div>
                <!-- Awards -->
                <div style="display: flex; justify-content: space-between;">
                  <strong>Awards:</strong>
                  <span><%= school.awards %></span>
                </div>
                <!-- Clubs -->
                <div style="display: flex; justify-content: space-between;">
                  <strong>Clubs:</strong>
                  <span><%= school.clubs %></span>
                </div>
                <!-- Sport -->
                <div style="display: flex; justify-content: space-between;">
                  <strong>Sport:</strong>
                  <span><%= school.sport %></span>
                </div>
              </div>
            </div>
            <!-- Second Box: Action Buttons -->
            <div class="card-footer" style="text-align: center;">
              <a href="/schools/edit/<%= school.id %>"
                 class="btn btn-success" 
                 style="margin-right: 20%; background-color: #d1e7dd; color: #0c4128;">
                 Edit
              </a>
              <form action="/schools/delete/<%= school.id %>" method="POST" style="display: inline;">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </div>
          </div>
        </div>
      <% }); %>
    <% } else { %>
      <div class="col-12 text-center">
        <p>No schools found.</p>
      </div>
    <% } %>
    <!-- Pagination -->
    <div class="container mt-4 pb-5" style="padding-bottom: 70px;"> 
      <nav aria-label="Page navigation" style="margin-bottom: 50px; ">
        <ul class="pagination justify-content-center">
          <% for(let i = 1; i <= pages; i++) { %>
            <li class="page-item <%= i === current ? 'active' : '' %> <%= i > 1 ? 'ms-2' : '' %>">
              <a class="page-link text-black" style ="background-color: #f2f2f2" href="/schools?page=<%= i %>"><%= i %></a>
            </li>
          <% } %>
        </ul>
      </nav>
    </div>
  </div>
</div>
<%- include("partials/footer.ejs") %>